DATABASE_URL=postgresql+asyncpg://postgres:user@localhost:5432/team_managemnt

# JWT Secrets
JWT_SECRET_KEY=your-256-bit-secret
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=3600

ENVIRONMENT=development
GEMINI_API_KEY=
GROQ_API_KEY=